html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
}

img {
  display: block;
  width: 100%;
  height: auto;
}
.logo_1 {
  position: relative;
  width: 20vw;
  height: 15vw;
  padding-top: 27px;
  margin: 0 auto;
  padding-right: 4vw;
}

.logo_2 {
  position: relative;
  text-align: center;
  padding-top: 5vw;
  top: -22vw;
  margin: 0 auto;
  font-family: "Averia Serif Libre", cursive;
  color: black;
  font-size: 7vw;
}

.logo_3 {
  position: relative;
  text-align: center;
  top: 1vw;
  font-family: "Averia Serif Libre", cursive;
  color: rgb(101, 181, 207);
  font-size: 2vw;
}

@media (max-width: 600px) {
  .logo_1 {
    position: relative;
    width: 20vw;
    height: 15vw;
    padding-top: 27px;
  }
}

.video {
  text-align: center;
}

.interview {
  display: flex;
  justify-content: center;
  aspect-ratio: 16 / 9;
  padding-left: 15vw;
  padding-right: 15vw;
  padding-bottom: -15vw;
}

.link_text {
  color: darkred;
  top: 3vw;
}

.link_text:hover {
  color: white;
}

.link_box {
  background-color: lightblue;
  color: darkred;
  margin: 0 auto;
  cursor: pointer;
  text-align: center;
  padding-top: 1vw;
  grid-area: 1/1/-1/-1;
  z-index: 1;
  max-width: 150px;
  place-self: center;
  padding-bottom: 1vw;
}

.collage_section_wrapper {
  object-fit: cover;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  max-width: 1050px;
  margin: 0 auto;
}

.billede1 {
  grid-column: 1;
  grid-row: 1;
}

.billede2 {
  grid-column: 2;
  grid-row: 1;
}

.billede3 {
  grid-column: 3;
  grid-row: 1;
}

.billede4 {
  grid-column: 4;
  grid-row: 1;
}

.billede5 {
  grid-column: 1;
  grid-row: 2;
}

.billede6 {
  grid-column: 2;
  grid-row: 2;
}

.billede7 {
  grid-column: 3;
  grid-row: 2;
}

.billede8 {
  grid-column: 4;
  grid-row: 2;
}
