h3 {
  text-align: center;
}

#section_one {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

#section_two {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}
#section_three {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
  margin: 0 auto;
  gap: 0.3rem;
}

.image1 {
  grid-column: 1;
  border: 0.3rem rgb(138, 39, 39);
  border-style: solid;
  padding: 0.3rem;
}

.image2 {
  grid-column: 2;
  border: 0.3rem rgb(138, 39, 39);
  border-style: solid;
  padding: 0.3rem;
}

.tekst_om p {
  color: black;
  line-height: 2.5rem;
}

.instafunktion p {
  color: black;
  text-align: center;
}
.insta {
  display: flex;
  width: 7vw;
  height: 7vw;
  margin: 0 auto;
}

@media (min-width: 1000px) {
  .insta {
    display: flex;
    width: 5vw;
    height: 5vw;
    margin: 0 auto;
  }
}
