h3 {
  text-align: center;
}

#section_one {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

#section_two {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

#section_three {
  display: flex;
  flex-direction: row;
}
#section_three img {
  width: 10vw;
  height: 10vw;
}

.pics_om {
  display: flex;
}
.tekst_om p {
  color: black;
  line-height: 2.5rem;
}

.instafunktion p {
  color: black;
  text-align: center;

  #insta{

  }