/*Her styler jeg min hr*/

hr{
  max-width: 79vw;
  color: rgb(138, 39, 39);
  margin-top: 10vw;
}

/* Her laver jeg det overordnet grid på de to container med billede og tekst */
#section_one {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 5vw;  
}

/* Her laver jeg et grid for de 3 valgte billeder */
#p_billede {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 1vw;
}

/* Her har jeg under inspector fundet child elementet af billede 2 så den kan span over 2 kolonner og rækker */
#p_billede > img:nth-child(2) {
  grid-row: span 4;
}


/* Her sætter jeg placering på produkt teksten og styler den */
#p_p{
    grid-column: 2/3;
    margin: 4vw;
    
}
/* Her går jeg ind og ændre de forskellige childelementer med overskrifterne */
#p_p > h3:nth-child(1){
  position: relative;
  color:black;
  font-size: 2rem;
  top: -7vw;
}#p_p > h3:nth-child(3){ 
  font-size: 1rem;
}
#p_p > h3:nth-child(4){ 
  font-size: 1rem;
}

/* Her definerer jeg højde og bredde værdier til billederne, men også sørger for at de cover hele containeren med object fit */
#p_billede img {
    object-fit: cover;
    width: 100%; 
    height: 100%;}


/*Kontakt os knappen*/
    #kontakt_os_knap {
      background-color: rgb(138, 39, 39);
      border: none;
      color: rgb(255, 255, 255);
      text-align: center;
      display: inline-block;
      font-size: 1.5;
      margin: 0 auto;
      cursor: pointer;
      padding: 1vw 1vw;
    }


#kontakt_os_knap :hover{
  color: rgb(101, 181, 207);
}




