html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  background-color: #fcfcf5;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1 {
  font-family: "Averia Serif Libre", cursive;
  color: black;
  font-size: 3rem;
}

h2 {
  font-family: "Averia Serif Libre", cursive;
  color: black;
  font-size: 2rem;
}

h3 {
  font-family: "Averia Serif Libre", cursive;
  color: black;
  font-size: 1.5rem;
}

h4 {
  font-family: "Averia Serif Libre", cursive;
  color: white;
  font-size: 1rem;
}

p {
  font-family: "Poppins", sans-serif;
  color: white;
}

a {
  font-family: "Poppins", sans-serif;
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
}

a:hover {
  color: rgb(48, 183, 228);
}

nav {
  background-color: rgb(138, 39, 39);
  height: auto;
}

ul {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  list-style: none;
}

@media (max-width: 600px) {
  ul {
    padding-right: 10vw;
  }
}

li {
  padding: 1vw;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  cursor: pointer;
}

.fisk {
  position: absolute;
  height: 5.5vw;
  width: 5.5vw;
  padding-top: 0.3vw;
  place-self: center;
  padding-right: 2vw;
  cursor: pointer;
}

footer {
  background-color: rgb(138, 39, 39);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-bottom: 2vw;
  margin: 0 auto;
  padding-left: 15vw;
  font-size: 1rem;
}

.footer_logo {
  position: relative;
  width: 6vw;
}

.second_section {
  position: relative;
  left: -3vw;
}

.first_Section {
  position: relative;
  padding-left: 12vw;
}

.insta {
  width: 4vw;
  height: 4vw;
}

@media (max-width: 600px) {
  footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .first_section {
    grid-column: 1;
    grid-row: 1;
  }

  .fourth_section {
    grid-column: 2;
    grid-row: 1;
  }

  .second_section {
    position: relative;
    padding-left: 3vw;
    grid-column: 1;
    grid-row: 2;
  }

  .third_section {
    grid-column: 2;
    grid-row: 2;
  }

  .footer_logo {
    width: 6vw;
    height: 6vw;
    top: -1.5vw;
  }

  .insta {
    position: relative;

    width: 6vw;
    height: 6vw;
  }
}

@media (max-width: 400px) {
  footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 0.8rem;
  }

  ul {
    position: relative;
    font-size: 0.5rem;
    gap: 20px;
    padding: 1vw;
    font-size: 0.8rem;
  }
  li {
  }
  .fisk {
    padding-right: 3vw;
  }

  .first_section {
    grid-column: 1;
    grid-row: 1;
    position: relative;
    left: -8vw;
  }

  .fourth_section {
    grid-column: 2;
    grid-row: 1;
    position: relative;
    left: -6vw;
  }

  .second_section {
    position: relative;
    left: -10vw;
    grid-column: 1;
    grid-row: 2;
  }

  .third_section {
    grid-column: 2;
    grid-row: 2;
    position: relative;
    left: -6vw;
  }
}
