main {
  padding-left: 4vw;
  padding-right: 4vw;
}
#indhold img {
  display: block;
  width: 100%;
  height: auto;
  padding-top: 50px;
}

img {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  transform: translateX(120%) translateY(-600%);
}

.img_1:hover .image {
  opacity: 0.3;
}

.img_1:hover .middle {
  opacity: 1;
}

.text {
  background-color: lightblue;
  color: darkred;
  font-size: 16px;
  padding: 16px 32px;
  cursor: pointer;
}

hr {
  max-width: 1200px;
  margin-top: 10vw;
  margin-bottom: 0vw;
  color: rgb(138, 39, 39);
}

#indhold {
  padding-bottom: 15vw;
}

h1 {
  font-family: "Averia Serif Libre", cursive;
  color: black;
  font-size: 7vw;
}

h3,
univers {
  font-family: "Averia Serif Libre", cursive;
  color: black;
  text-align: center;
  padding-top: 5.5vw;
}

p {
  color: black;
  font-family: "Poppins", sans-serif;
}

#indhold {
  display: grid;
  gap: 50px;
  margin: 0 auto;
}

@media (min-width: 750px) {
  #indhold {
    grid-template-columns: 1fr 1fr;
  }

  .middle {
    transform: translateX(105%) translateY(-550%);
  }
}

@media (min-width: 1000px) {
  #indhold {
    max-width: 1200px;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .middle {
    transform: translateX(100%) translateY(-500%);
  }

  hr {
    margin-top: 3vw;
    margin-bottom: 2vw;
  }

  h3,
  univers {
    font-family: "Averia Serif Libre", cursive;
    color: black;
    text-align: center;
    padding-top: 3vw;
  }

  #indhold {
    padding-bottom: 8vw;
  }
}

h2 {
  text-align: center;
}

h4 {
  font-family: "Averia Serif Libre", cursive;
  color: white;
  font-size: 1rem;
}

footer p {
  color: white;
}
