img {
  display: block;
  width: 100%;
  height: auto;
}
h1 {
  font-family: "Averia Serif Libre", cursive;
  color: black;
  font-size: 7vw;
}

h2 {
  font-family: "Averia Serif Libre", cursive;
  color: rgb(101, 181, 207);
  font-size: 2vw;
}

<<<<<<< HEAD
.galleri_linje_1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 50px;
  padding-bottom: 50px;
  gap: 50px;
}
.galleri_linje_2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 50px;
  padding-bottom: 50px;
  gap: 50px;
}
.galleri_linje_3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 50px;
  padding-bottom: 50px;
  gap: 50px;
}
.galleri_linje_4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 50px;
  padding-bottom: 50px;
  gap: 50px;
}
.galleri_linje_5 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 50px;
  padding-bottom: 50px;
  gap: 50px;
}
.galleri_linje_6 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 50px;
  padding-bottom: 50px;
  gap: 50px;
}

.tekst_linje_1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
=======
h3 {
  font-family: "Averia Serif Libre", cursive;
  color: black;
  font-size: 1.5rem;
}

h4 {
  font-family: "Averia Serif Libre", cursive;
  color: white;
  font-size: 1rem;
}

footer {
  background-color: rgb(138, 39, 39);
  padding-left: 7vw;
  padding-right: 1vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-bottom: 2vw;
  margin: 0 auto;
  padding-left: 16vw;
  font-size: 1rem;
}

@media (max-width: 600px) {
footer {
  grid-template-columns: 1fr 1fr;'
  grid-template-rows: 1fr 1fr;
}

  .first_section {
    grid-column: 1;
    grid-row: 1;
  }

  .fourth_section {
    grid-column: 2;
    grid-row: 1;
  }

  .second_section {
    position: relative;
    padding-left: 3vw;
    grid-column: 1;
    grid-row: 2;
  }

  .third_section {
    grid-column: 2;
    grid-row: 2;
  }

}

.footer_logo {
  position: relative;
  width: 6vw;
}

.second_section {
  position: relative;
  left: -3vw;
}

.first_Section {
  position: relative;
  padding-left: 12vw;
}

.insta {
  width: 4vw;
  height: 4vw;
}
>>>>>>> 53e2872825fe00095df6770ccdff149d82c69b00
